body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  background-color: #004365;
}

.content {
  padding-top: 60px; 
}


.navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.navbar li {
  display: inline;
  margin-right: 20px;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #3498db;
  padding: 15px 0; /* Augmentation de l'espacement vertical */
  z-index: 999;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ajout d'une légère ombre sous la barre de navigation */
  transition: background-color 0.3s ease, padding 0.3s ease; /* Effet de transition sur la couleur de fond et l'espacement */
}

.navbar a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 10px 20px; /* Ajustement de l'espacement autour des liens */
  border-radius: 5px;
  transition: background-color 0.3s ease; /* Effet de transition sur la couleur de fond au survol */
}

.navbar a:hover {
  background-color: #2980b9;
}

section {
  margin-top: 80px; 
}

h1 {
  color: black;
  text-align: center;
  margin-bottom: 20px;
}

p {
  color: #333;
  margin-bottom: 20px;
}


.stage {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
}

.stage h2 {
  color: #3498db;
}

.stage div {
  background-color: white;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
}

html {
  scroll-behavior: smooth; 
}

.logo {
  text-align: center; /* Centrage du contenu */
}

.logo img {
  width: 40%; /* Ajustement de la taille du logo */
  height: auto;
}

.logo p {
  color: white; /* Couleur du texte */
  font-size: 18px; /* Taille de la police */
  margin-top: 10px; /* Espacement depuis le logo */
}

#accueil {
  padding: 50px; /* Espacement autour du contenu */
  background-color: white; /* Couleur de fond */
  border-radius: 15px; /* Bords arrondis */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Légère ombre */
  width: 80%; /* Largeur de la section */
  margin: 0 auto; /* Centrage horizontal */

}

#accueil h1 {
  text-align: center; /* Centrage du titre */
  margin-bottom: 30px; /* Espacement sous le titre */
}

.about-content {
  display: flex; /* Utilisation de flexbox pour organiser le contenu */
  justify-content: center; /* Centrage horizontal du contenu */
  align-items: center; /* Centrage vertical du contenu */
}

.profile-pic img {
  width: 200px; /* Taille de la photo de profil */
  height: auto;
  border-radius: 50%; /* Création d'un bord arrondi pour la photo de profil */
  margin-right: 30px; /* Espacement à droite de la photo de profil */
  border: 3px solid #3498db; /* Ajout du cadre avec une couleur spécifique */
}

.presentation {
  max-width: 600px; /* Largeur maximale du texte de présentation */
}

.presentation h2 {
  color: #3498db; /* Couleur du titre */
}

.presentation p {
  margin-bottom: 15px; /* Espacement entre les paragraphes */
  color: #333; /* Couleur du texte */
}

.presentation button {
  background-color: #3498db; /* Couleur de fond du bouton */
  color: white; /* Couleur du texte du bouton */
  padding: 15px 30px; /* Espacement à l'intérieur du bouton */
  border: none; /* Suppression de la bordure */
  border-radius: 5px; /* Arrondi des coins du bouton */
  cursor: pointer; /* Curseur de la souris en pointeur */
  transition: background-color 0.3s ease; /* Ajout d'un effet de transition */
}

.presentation button:hover {
  background-color: #2980b9; /* Changement de couleur de fond au survol */
}

#AP h1,
#parcours h1,
#veille h1 {
  background-color: white; /* Couleur de fond blanc pour le titre */
  padding: 10px; /* Espacement intérieur */
  border-radius: 10px; /* Bords arrondis */
  display: inline-block; /* Pour que le fond blanc entoure le texte uniquement */
}
#atelier {
  background-color: #fff; /* Fond blanc */
  padding: 20px; /* Espacement autour du contenu */
  border-radius: 15px; /* Bords arrondis */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Légère ombre */
  text-align: center; /* Centrage du contenu */
  width: 44%; /* Largeur de la section */
  margin: 0 auto; /* Centrage horizontal */

}

.atelier-table {
  margin: 0 auto; /* Centrage horizontal du tableau */
  border-spacing: 20px; /* Espacement entre les cellules */
  text-align: center; /* Centrage du contenu dans les cellules */
}

.atelier-table td {
  width: 200px; /* Largeur fixe pour chaque cellule */
  height: 100px; /* Hauteur fixe pour chaque cellule */
  background-color: white; /* Couleur de fond blanc pour les cases */
  padding: 10px; /* Espacement intérieur */
  border-radius: 10px; /* Bords arrondis */
  cursor: pointer; /* Curseur de la souris en pointeur */
  transition: background-color 0.3s ease; /* Effet de transition */
  border: 2px solid #3498db; /* Bordure de 2px solide avec la couleur bleue */
}

.atelier-table td:hover {
  background-color: #f0f0f0; /* Couleur de fond au survol */
  margin: 0 auto; /* Centrage horizontal */
}
